/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(54, 194, 89);
}

.flex_container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.photo_container {
    width: 800px;
}

.photo_container img {
    width: 100%;
}

.prev_photo, .next_photo {
    font-size: 3rem;
}
